In [1]:
import pandas as pd

In [2]:
data = {'apples': [3,2,0,1], 'oranges':[0,3,7,2]}

In [5]:
df1 = pd.DataFrame(data)
df1

   apples  oranges
0       3        0
1       2        3
2       0        7
3       1        2

In [9]:
df = pd.DataFrame(data, index=['John','Robert','Lily','David'])
df

        apples  oranges
John         3        0
Robert       2        3
Lily         0        7
David        1        2

In [7]:
df.to_csv('purchase.csv')

In [10]:
df = pd.read_csv('purchase.csv') #df = pd.read_csv('purchase.csv', delimiter = ',') Or sep=','
df

  Unnamed: 0  apples  oranges
0       John       3        0
1     Robert       2        3
2       Lily       0        7
3      David       1        2

In [12]:
df = pd.read_csv('purchase.csv', index_col=0)
df

        apples  oranges
John         3        0
Robert       2        3
Lily         0        7
David        1        2

In [15]:
df.loc['John']

apples     3
oranges    0
Name: John, dtype: int64

In [26]:
df = pd.read_csv('purchase.csv', index_col=False) # index_col = False is default

In [27]:
df.rename(columns={'Unnamed: 0': 'Name'}, inplace = True)
df

     Name  apples  oranges
0    John       3        0
1  Robert       2        3
2    Lily       0        7
3   David       1        2

In [28]:
df[df['Name']=='John']

   Name  apples  oranges
0  John       3        0

In [29]:
df.loc[0]

Name       John
apples        3
oranges       0
Name: 0, dtype: object

In [30]:
df[df.Name == 'John']

   Name  apples  oranges
0  John       3        0

In [31]:
df.loc['John']

KeyError: 'John'